{% extends "layout.html" %} {% block content %}
<div class="login-content">
  <div class="login-container">
    <h2 style="top: 10%;">User Login</h2>
    <form method="POST" action="/user/profile">
      <label for="email">Email:</label
      ><input type="email" name="email" required />
      <label for="password">Password:</label
      ><input type="password" name="password" required />
      <button type="submit">Login</button>
    </form>
    <div id="result" style="margin-top: 20px"></div>
  </div>
</div>
<script></script>
{% endblock %}
