{% extends "layout.html" %} {% block content %}
<div class="login-content">
    <div class="login-container">
        <h2 style="top: 10%;">Login</h2>
        <form method="POST" action="/user/profile">
            <label for="email">Email:</label><input type="email" name="email" required />
            <label for="password">Password:</label><input type="password" name="password" required />
            <button type="submit">Login</button>
            <a style="font-size: 10px; padding-left: 20%;" href="/signin">Don't have an account ? Click here </a>
        </form>
        <div id="result" style="margin-top: 20px"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    if (window.location.pathname.includes("/login")) {
        $(".sidebar").hide();
        $(".navbar-nav").hide();
    }
    else {
        $(".sidebar").show();
        $(".navbar-nav").show();
    }
});
</script>


{% endblock %}