{% extends "layout.html" %}
{% block content %}
<h2>Latest Tenders & Announcements</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Organization</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tendors %}
        <tr>
            <td>{{ t.title }}</td>
            <td>{{ t.org }}</td>
            <td>{{ t.end_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}